API_GATEWAY_URL=http://localhost:8080
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8080


# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=264246243864-5ojqq2rj6ma33sououb45uc8e5da8o2f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# NextAuth Configuration (if needed)
NEXTAUTH_SECRET=iQWJPQRuc6xhVmCxzJjJjY3Ziy2OlM2/vrlE5x/A4ek=
NEXTAUTH_URL=http://localhost:3000

